body {
    font-family:Helvetica, Arial, sans-serif;
    font-size:12px;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    background-color: #fff;
}

a, input, button {
    -ms-touch-action: none !important;
}

h1{
	font-size:20px;
	text-align: center;
}

#cabecera{
	height:45px;
	line-height:45px;
	width:100%;
	top:0;
	text-align:center;
	background: #f8a23b;
	background: -moz-linear-gradient(top, #f8a23b 0%, #e39333 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #f8a23b), color-stop(100%, #e39333));
	background: -webkit-linear-gradient(top, #f8a23b 0%, #e39333 100%);
	background: -o-linear-gradient(top, #f8a23b 0%, #e39333 100%);
	background: -ms-linear-gradient(top, #f8a23b 0%, #e39333 100%);
	background: linear-gradient(to bottom, #f8a23b 0%, #e39333 100%);
}

#logo{
	height:30px;
	vertical-align:middle
}
	
#nav{
	top:49;
	position:absolute;
	height:48px;
	width:100%;
	background: #000;
}

#nav ul{
	margin-top:0px;
	padding:0px;
	list-style:none;
	display:block;
	font-size:15px;
}

#nav ul li{
	float:left;
	line-height:48px;
	text-align:left;
	vertical-align:middle;
	color:#eee;
	padding-left: 10px;
	padding-right: 10px;
}
#nav ul li a{
	text-align: left;
	color:#eee;
	text-decoration: none;
	border-bottom: 2px solid #fff;
	text-transform:uppercase;
}
#cuerpo{
	top: 97px;
	bottom:0px;
	position:absolute;
	width:100%;
	overflow:auto;
}

/* Probando iscroller */
#wrapper { 
    width:100%; 
    float:left; 
    position:absolute; /* On older OS versions "position" and "z-index" must be defined, */ 
    z-index:1; /* it seems that recent webkit is less picky and works anyway. */ 
    overflow:hidden; 
    display:none; 
    top:45px; 
    bottom:48px 
} 

#scroller { 
    float:left; 
}
th:first-child{
	width: 100px;
	text-align: center;
}
th:last-child{
	width: 200px;
	text-align: center;
}
th{
	background-color: #e39333;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	line-height: 30px;
	padding-left: 15px;
	padding-right: 15px;
	-moz-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	-moz-box-shadow: 5px 5px 2px #888;
	-webkit-box-shadow: 5px 15px 2px #888;
	box-shadow: 5px 5px 2px #888;	
}
tbody tr:last-child td{
	-moz-border-bottom-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
td{
	text-align: center;
	border-bottom: 1px solid #6678b1;
	line-height: 30px;
	font-weight: bold;
	font-size: 14px;
	-moz-box-shadow: 5px 5px 2px #888;
	-webkit-box-shadow: 5px 15px 2px #888;
	box-shadow: 5px 5px 2px #888;	
}
.par{
	background-color: #f8a23b;
}
.impar{
	background-color: #e39333;
}

#imagen{
	text-align: center;
	margin-top: 20px;
}
#tablaGeneral{
	text-align: center;
}
#tablaNocturna{
	text-align: center;
}
#tablaVehiculos{
	text-align: center;
}
#faq{
	top: 5px;
	text-align: center;
	bottom:5px;
	position:absolute;
	width:100%;
	overflow:auto;
}
table{
	margin-top: 10px;
	margin-bottom: 10px;
}
p{
	text-align: justify;
	font-size: 16px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#faq h1{
	text-align: center;
}
#faq span{
	padding-bottom: 3px;
}
.preciohora{
	background: yellow;
	width: 80%;
	margin-left: 5%;
	margin-top: 5px;
	height: auto;
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px; 
	border-radius: 20px;
	text-align: center;
	font-size: 12px;
	float: left;
	padding-left: 5%;
	padding-right: 5%;
}
h2{
	display: inline-block;
	background-color: #f8a23b;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 20%;
	padding-right: 20%;
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px; 
	border-radius: 20px;
	-moz-box-shadow: 5px 5px 2px #888;
	-webkit-box-shadow: 5px 15px 2px #888;
	box-shadow: 5px 5px 2px #888;	
}
table{
	margin-left: 10px;
	margin-right: 10px;
}
#cargando{
	text-align: center;
	margin-top: 5%;
}
#cargando img{
	width: 50%;
}
#error{
	top: 10px;
	bottom:0px;
	position:absolute;
	width: 90%;
	text-align: center;
	margin-left: 5%;
}
#error h2{
	background-color: grey;
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px; 
	border-radius: 20px;
	-moz-box-shadow: 5px 5px 2px #888;
	-webkit-box-shadow: 5px 15px 2px #888;
	box-shadow: 5px 5px 2px #888;
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 3%;
	padding-bottom: 3%;
}
